#id_left_toggle:hover, #id_right_toggle:hover {
  cursor: pointer;
}

#id_left_toggle input, #id_right_toggle input {
  float: left;
  vertical-align: middle
}

#id_title {
  font-size: 120px;
  width: 339;
  position: fixed;
  font-family: 'Open Sans', sans-serif;
  /*height: 50%;*/
  bottom: 50%;

  /*top: calc (50% - 171px);*/
  /*top: 30%;*/
  left: calc(50% - 169.5px);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently*/
}
#id_title {
  color: #00BCD4;
}
#id_title span {
  color: #00393c;
  font-size: 150px;
  font-family: 'Noto Sans', sans-serif;
  margin-left: -15px;

}
#id_title:hover {
  cursor: default;
}

#id_search_bar {
  padding-left: 10px;
  font-size: 16px;
  width: 100%;
  height: 40px;
  border: 1px solid #00BCD4;

}

#id_home_content {
  position: fixed;
  height: 50%;
  top: 50%;
  width: 50%;
  left: 25%;
}

#id_toggle_container {
  position: fixed;
  left: calc(50% - 170px);
  widht: 210px;
  margin-top: 57px;
}

.toggleButton {
  font-size: 24px;
  text-align: center;
  padding-top: 4px;
  padding-right: 10px;
  padding-left: 6px;
  width: 182px;
  height: 42px;
  float: left;
  color: #00BCD4;
  border-radius: 5px;
  /*border: 2px solid #00BCD4;*/
  font-family: 'Open Sans', sans-serif;
  transition: background-color 0.5s ease;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently*/
}

/*.toggleButton:hover {
  background: #0097A7;
  transition: background-color 0.5s ease;
}*/

.card {
  padding: 1rem;
  background: #fff;
  border-radius: 2px;
  margin-top: 2rem;
  width: 75%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.results {
  margin:3rem;
}

error-container {

}

#id_right_toggle {
  margin-left: 10px;
}

.active {
  background: #006064;
}
.active:hover {
  background: #006064;
}





/* ROUNDED ONE */
input[type=checkbox] {
	visibility: hidden;
}

.roundedOne {
	width: 28px;
	height: 28px;
	background: #fcfff4;
  float: left;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	/*margin: 20px auto;*/

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.roundedOne label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	left: 4px;
	top: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.roundedOne label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	background: #00bf00;

	background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: linear-gradient(top, #00bf00 0%, #009400 100%);

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	top: 2px;
	left: 2px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.roundedOne label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.roundedOne input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
