<div>
  <div id="id_title">Watch<span>man</span></div>
  <div id="id_home_content">
    <input id="id_search_bar" type="text" placeholder="Search a github repository to see common issues"></input>
    <!-- <div id="id_toggle_container" class="{{active}}">
      <div id="id_left_toggle" class="toggleButton">
        <div class="roundedOne">
        	<input type="checkbox" value="None" id="roundedOne" name="check" />
        	<label for="roundedOne"></label>
        </div>
        <div style="float: left; margin-top: -3px; margin-left: 10px">End User</div>
      </div>
      <div id="id_right_toggle" class="toggleButton">
        <div class="roundedOne">
        	<input type="checkbox" value="None" id="roundedOne" name="check" />
        	<label for="roundedOne"></label>
        </div>
        <div style="float: left; margin-top: -3px; margin-left: 10px">Developers</div>
      </div>
    </div> -->
  </div>
</div>


<!-- <div id="id_nav_bar" ng-controller="navbarController">
	<!-- <div id="id_nav_bar_name"> -->
		<!-- <a ui-sref="/" ng-click="active=''" id="id_nav_bar_name"><span>Edward</span>Murakami</a> -->
	<!-- </div> -->

	<!-- <nav id="id_nav_bar_links" class="{{active}}">
		<a ui-sref="skills" ng-click="active='skills'" id="id_nav_bar_skils" class="navLink aSkills">
			<i class="fa fa-bar-chart fa-3x navIcons"></i>
			<div class="navLabels">Skills</div>
		</a>
		<a ui-sref="/projects" ng-click="active='projects'" id="id_nav_bar_projects" class="navLink aProjects">
			<i class="fa fa-folder fa-3x navIcons"></i>
			<div class="navLabels">Projects</div>
		</a>
	</nav>
</div> -->
